/* Footer */

.footer__section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-color);
  }
  .footer__container {
    /* width: 1200px; */
    display: flex;
    align-items: baseline;
  }