.portfolio__btn-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
  }
  
  .portfolio__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--first-color);
    background-color: var(--portfolio-btn);
    border-radius: 4px;
    padding: 6px 22px;
  
  
   &:hover,
   &:focus {
    color: var(--portfolio-btn);
    background-color: var(--accent-color);
  }
 }