/* We-do */
.we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.we-do__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.we-do__title {
  margin-bottom: 50px;
  color: var(--first-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.we-do__work {
  position: relative;
}
.we-do__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 224px;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
  background-color: var(--bacgruond-color-we-do-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color);
}
